<div class="card">
  <div ng-hide="cardAtr.played === true">
    {{cardAtr.type}} {{cardAtr.suit}}<br>
    <div ng-repeat="suit in middleSection track by $index">
      {{suit}}
    </div>
    <div ng-if="cardAtr.type === 'K'">
      <img style="height: 100px; width: 50px" src="http://static.tumblr.com/pciegfl/sQmltl5gb/king.png" />
    </div>
    <div ng-if="cardAtr.type === 'Q'">
      <img style="height: 100px; width: 50px" src="https://a.fsdn.com/con/app/proj/vector-cards/screenshots/QS.png" />
    </div>
    <br>{{cardAtr.type}} {{cardAtr.suit}}
    <button type="button" name="button" ng-click="playCardFunc({card: cardAtr})">Play ME</button>
  </div>
  <div ng-show="cardAtr.played === true">
    <img style="height: 100px; width: 50px" src="https://s-media-cache-ak0.pinimg.com/originals/6c/a0/16/6ca016115a894f69dea75cc80f95ad92.jpg" alt="" />
  </div>
</div>
<hr>
